<!-- create_comment.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Comment</title>
    <!-- Include any necessary CSS files or stylesheets -->
</head>
<body>
    {% if messages %}
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
{% endif %}
    <div class="container">
        
        <h2>Create Comment</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Comment</button>
        </form>
    </div>
</body>
</html>
